<<<<<<< HEAD
.recommendations {
  color: red; 
}

.dataTables_filter {
  color: white;
} 

.dataTables_length {
  color: white;
}

.dataTables_info {
  color: white;
}

.page-link {
  color: white;
  background-color: #212529!important;
}

.page-item.active .page-link {
  border-color: #fff;
}

.page-link :hover {
  color: white;
}
=======
h1 {
  color: red; 
}

  
>>>>>>> 8535f29859179ed6f094c53f5246da4c1d3f51b7
 