{% extends "index.html" %}

{% block content %}
<!-- Hero Section-->
<section class="bg-light">
    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-lg-6 order-2 order-lg-1">
                <h1>BET 365 Live Matches Bot</h1>
                <p class="lead">This is a Python bot made with Flask that gets live Bet365 data and sends notifications about interesting football matches. It uses the Bet365 API to retrieve data about football matches in real-time, and then it filters the matches based on certain criteria and sends notifications to the user about matches that meet those criteria. </p>
                <p><a href="/api" class="btn btn-primary shadow me-2">Live Matches</a><a href="/algorithm" class="btn btn-outline-primary">Get filtered matches</a></p>
            </div>
        <div class="col-lg-6 order-1 order-lg-2 mt-5 mb-5"><img src="static/players.jpg" alt="landing image" class="img-fluid"></div>
    </div>
</div>
</section>

<section class="bg-dark">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-6 order-2 order-lg-1">
                <h1>BET 365 Live Matches Bot</h1>
                <p class="lead">This is a Python bot made with Flask that gets live Bet365 data and sends notifications about interesting football matches. It uses the Bet365 API to retrieve data about football matches in real-time, and then it filters the matches based on certain criteria and sends notifications to the user about matches that meet those criteria. </p>
                <p><a href="/api" class="btn btn-primary shadow me-2 mb-5">Live Matches</a><a href="/algorithm" class="btn btn-outline-primary mb-5">Get filtered matches</a></p>
            </div>
        <div class="col-lg-6 order-1 order-lg-2 mt-5 mb-5"><img src="static/players.jpg" alt="landing image" class="img-fluid"></div>
    </div>
</div>
</section>

{% endblock %}
