{% extends "index.html" %}

{% block content %}
<!-- Hero Section-->
<section class="bg-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-2 order-lg-1">
                <h1>Bootstrap Template by Buddy</h1>
                <p class="lead">This is where our catchy phrase should come! Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. </p>
                <p class="lead">Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. </p>
                <p class="lead">Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. </p>
                <p><a href="/api" class="btn btn-primary shadow me-2">Live Matches</a><a href="/api/algorithm" class="btn btn-outline-primary">Get filtered matches</a></p>
            </div>
        <div class="col-lg-6 order-1 order-lg-2 mt-5 mb-5"><img src="static/players.jpg" alt="landing image" class="img-fluid"></div>
    </div>
</div>
</section>

{% endblock %}
